.logobox{
    text-align: center;
}
    .logobox::before{
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
.logo{
    display:inline-block;
    vertical-align: middle;
}